{{define "header"}}
<!doctype html>
<html lang="ru">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="/static/bootstrap.min.css">
</head>
{{ if .User }}
<div class="userBlock" style="right: 0; position: absolute;">
  Пользователь - {{ .User.Login }}. <a href="#">Выход</a>
</div>
{{ end }}

{{end}}

{{define "footer"}}
<script src="/static/jquery-3.4.1.slim.min.js"></script>
<script src="/static/popper.min.js"></script>
<script src="/static/bootstrap.min.js"></script>

</html>
{{end}}